node_modules
dist
publish
publish-linux
__pycache__
*.pyc
*.pyo
*.spec
build
.git
.github
*.md
.gitignore
publish.bat
publish.sh
build.py
backend/config.json
backend/static
backend/build-requirements.txt
